<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>870661620944-oib3jeonv6ql2030i79o0bef9be1anpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870661620944-oib3jeonv6ql2030i79o0bef9be1anpj</string>
	<key>API_KEY</key>
	<string>AIzaSyAL4DT7PFNkEH-aANe33XhSnokCTMZ60a0</string>
	<key>GCM_SENDER_ID</key>
	<string>870661620944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blibli.sampleEarlGrey</string>
	<key>PROJECT_ID</key>
	<string>sampleearlgrey</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleearlgrey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870661620944:ios:3ef41c79d99de6e8</string>
	<key>DATABASE_URL</key>
	<string>https://sampleearlgrey.firebaseio.com</string>
</dict>
</plist>